In [1]:
import pandas as pd

In [4]:
date_list = [{'yyyy-mm-dd':'2000-06-27'},
            {'yyyy-mm-dd':'2002-04-21'},
            {'yyyy-mm-dd':'2008-09-23'}]

df = pd.DataFrame(date_list, columns = ['yyyy-mm-dd'])

In [5]:
df

   yyyy-mm-dd
0  2000-06-27
1  2002-04-21
2  2008-09-23

In [6]:
def extract_year(column) :
    return column.split("-")[0]

In [7]:
df['year'] = df['yyyy-mm-dd'].apply(extract_year)

In [12]:
df

   yyyy-mm-dd  year  age
0  2000-06-27  2000   18
1  2002-04-21  2002   16
2  2008-09-23  2008   10

## 파라미터 전달 방법

In [9]:
def getAge(year, current_year) :
    return current_year - int(year)

In [10]:
df['age'] = df['year'].apply(getAge, current_year =2018)

In [11]:
df

   yyyy-mm-dd  year  age
0  2000-06-27  2000   18
1  2002-04-21  2002   16
2  2008-09-23  2008   10

In [29]:
def getIntroduce(age, prefix, suffix) :
    return prefix + str(age) + suffix

In [32]:
df['introduce'] = df['age'].apply(getIntroduce, prefix="I am " , suffix = " years old")

In [33]:
df

   yyyy-mm-dd  year  age          introduce
0  2000-06-27  2000   18  I am 18 years old
1  2002-04-21  2002   16  I am 16 years old
2  2008-09-23  2008   10  I am 10 years old

In [34]:
def getIntroduce2(row) :
    return "I was born in " + str(row.year) +" my age is " + str(row.age)

In [36]:
df.introduce = df.apply(getIntroduce2, axis=1)# axis =1 은 column axis = 0 은 row에 적용

In [37]:
df

   yyyy-mm-dd  year  age                        introduce
0  2000-06-27  2000   18  I was born in 2000 my age is 18
1  2002-04-21  2002   16  I was born in 2002 my age is 16
2  2008-09-23  2008   10  I was born in 2008 my age is 10