# 데이터프레임만들기

## 파이썬 코드로 만들기

In [3]:
import pandas as pd

In [4]:
s1 = pd.core.series.Series(['one','two','three'])
s2 = pd.core.series.Series([1,2,3])

In [5]:
pd.DataFrame(data= dict(word = s1, num= s2))

   num   word
0    1    one
1    2    two
2    3  three

### dict를 이용해 데이터 프레임 만들기

In [8]:
friend_dict_list = [{'name': 'Jone', 'age': 20, 'job': 'student'},
                    {'name':'Jenny','age':30,'job':'developer'},
                    {'name':'Nate','age':34,'job':'teacher'}]

In [11]:
df = pd.DataFrame(friend_dict_list)
df

   age        job   name
0   20    student   Jone
1   30  developer  Jenny
2   34    teacher   Nate

dict을 생성하면 넣은 것과는 전혀 다른 순서로 데이터프레임이 생성 될 수도 있음

In [12]:
df = df[['name','age','job']]
df

    name  age        job
0   Jone   20    student
1  Jenny   30  developer
2   Nate   34    teacher

직접 헤더의 순서를 재정의 하여 원하는 순서로 가공

## OrderDict으로 데이터 프레임 작성하기

In [13]:
from collections import OrderedDict

In [14]:
friend_ordered_dict = OrderedDict([ ('name', ['John', 'Jenny', 'Nate']),
          ('age', [20, 30, 30]),
          ('job', ['student', 'developer', 'teacher']) ] )

In [15]:
df = pd.DataFrame(friend_ordered_dict)
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher

## 리스트를 이용해 데이터 프레임 만들기

In [16]:
friend_list = [ 
    ['John', 20, 'student'],
    ['Nate',30, 'teacher']
]

In [17]:
column_name = ['name','age','job']

In [18]:
df = pd.DataFrame.from_records(friend_list, columns= column_name)
df

   name  age      job
0  John   20  student
1  Nate   30  teacher

리스트의 내용과 헤더를 한번에 만드는 법

In [20]:
friend_list = [
    ['name',['John','Nate','Julia']],
    ['age',[32, 12, 40]],
    ['job',['student','teacher','dentist']]
]

In [21]:
df= pd.DataFrame.from_items(friend_list)
df

    name  age      job
0   John   32  student
1   Nate   12  teacher
2  Julia   40  dentist