In [1]:
import pandas as pd

In [19]:
date_list = [{'date':'2000-06-27'},
             {'date':'2002-09-17'},
             {'date':'2013-12-22'}]
df = pd.DataFrame(date_list, columns = ['date'])

In [20]:
df

         date
0  2000-06-27
1  2002-09-17
2  2013-12-22

In [21]:
def extract_year(date) :
    return date.split('-')[0]

In [24]:
df['year'] = df['date'].map(extract_year)

In [25]:
df

         date  year
0  2000-06-27  2000
1  2002-09-17  2002
2  2013-12-22  2013

## map 함수 활용

In [27]:
job_list = [{'age':20, 'job':'student'},
            {'age':30, 'job':'developer'},
            {'age':30, 'job':'teacher'}]
df = pd.DataFrame(job_list)

In [28]:
df

   age        job
0   20    student
1   30  developer
2   30    teacher

In [29]:
df.job = df.job.map({'student':1,"developer":2,"teacher":3})

In [30]:
df

   age  job
0   20    1
1   30    2
2   30    3

문자열을 숫자로 변경해야할 경우 유용

In [32]:
x_y = [{'x':5.5, 'y':-5.6,'z': -1.1},
      {'x':-5.2, 'y':5.5,'z': -2.2},
      {'x':-1.6, 'y':-4.6,'z': -3.3}]
df = pd.DataFrame(x_y)

In [33]:
df

     x    y    z
0  5.5 -5.6 -1.1
1 -5.2  5.5 -2.2
2 -1.6 -4.6 -3.3

In [34]:
import numpy as np # 반올림 편하게 하려고 사용

In [36]:
df = df.applymap(np.around) #

In [37]:
df

     x    y    z
0  6.0 -6.0 -1.0
1 -5.0  6.0 -2.0
2 -2.0 -5.0 -3.0

applymap()은 테이블 전체에 적용할 떄 사용