# 파일에 저장하기

In [2]:
import pandas as pd

In [3]:
friends = [{'name':'John','age':20,'job':'student'},
          {'name':'Jenny','age':30,'job':'teacher'},
          {'name':'Nate','age':30,'job':None}]

In [5]:
df = pd.DataFrame(friends)
df = df[['name','age','job']]

In [6]:
df

    name  age      job
0   John   20  student
1  Jenny   30  teacher
2   Nate   30     None

In [9]:
df.to_csv('data/friends.csv',na_rep = '--') # index, header 값은 True가 default #na_rep 는 None값을 대신해서 넣을 값

index, header 값은 True가 default 

na_rep 는 None값을 대신해서 넣을 값